
__tests__/**
babelrc.js
.prettierrc.js
node_modules/**
package.json
package-lock.json
*.lock
tsconfig.json
*.ttf
*.png
index.d.ts
.eslintrc.js
.eslintrc.json
public/firebase-messaging-sw.js
packages/web-app/styles/global.css
packages/web-app/out
next.config.js
postcss.config.js
